
@model IEnumerable<Category>

@{
    ViewBag.Title = "Quản lý nhóm khách sạn";
}

@section pluginStyles
{
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox-title">
            <h5>Danh sách nhóm khách sạn</h5>

            <div class="ibox-tools">
                @(Html.Bootstrap()
					.ActionLink("Xem dạng phân cấp khách sạn", "List")
					.Class("btn btn-primary btn-xs"))
                @(Html.Bootstrap()
					.ActionLink("Thêm nhóm khách sạn mới", "Create")
					.Class("btn btn-primary btn-xs")
					.PrependIcon("fa fa-plus"))
            </div>
        </div>

        <div class="ibox-content p-sm">
            <!-- Nhập mã hiển thị nhóm hàng ở đây-->
            <table id="tblcategories" class="table table-responsive table-bordered table-hover table-striped">
                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ParentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Size)
                        </th>
                        <th class="d-block d-sm-none">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IconPath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actived)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderNo)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Parent.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size)
                            </td>
                            <td class="d-none d-md-block ">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(item.IconPath))
                                {
                                    <img src="@Url.Content(item.IconPath)" alt="@item.IconPath" style="max-width: 55px" />
                                }
                            </td>
                            <td class="td_toggle">
                                <button type="button" class="toggle @(item.Actived.ToString().ToLower())"
                                        data-toggle-state="true"
                                        data-url="@Url.Action("UpdateToggle")"
                                        data-args="Actived_@(item.Actived.ToString().ToLower())_@(item.CategoryId)">
                                </button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @(Html.Bootstrap()
				                .ActionLink("", "Edit")
				                .RouteValues(new {id = item.CategoryId})
				                .Title("Cập nhật")
				                .AppendIcon("fa fa-pencil fa-2x"))
                                @(Html.Bootstrap()
				                .ActionLink("", "Delete")
				                .Class("dz-remove")
				                .RouteValues(new {id = item.CategoryId})
				                .AppendIcon("fa-solid fa-trash-can fa-2x")
				                .Title("Xóa"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblcategories tr').on('click',
                "[data-toggle-state=true]",
                function (e) {
                    var $this = $(this);
                    var url = $this.attr('data-url');
                    var args = $this.attr('data-args');
                    $.post(url,
                        { "args": args },
                        function (data) {
                            if (data.Result) {
                                $this.attr('data-args', data.Message);
                                $this.toggleClass('true');

                            } else {
                                alert(data.Message);
                            }
                        });
                });
            $('#tblcategories tbody').on('click',
	            'a.dz-remove',
	            function (e) {
		            e.preventDefault();
		            var that = $(this);
		            var confirmResult = confirm("Bạn có thực sự muốn xóa loại khách sạn này?");
		            if (confirmResult) {
			            $.ajax({
				            type: "POST",
				            url: that.attr('href'),
				            success: function (response) {
					            if (response) {
						            var row = that.closest('tr').get(0);
						            pageTable.fnDeleteRow(row);
					            } else {
						            alert('Không thể xóa loại khách sạn này.');
					            }
				            },
				            error: function (xhr, ajaxOptions, thrownError) {
					            console.log(xhr.responseText);
				            }
			            });
		            }
		            location.reload();
                });

        })
    </script>
}
