@using PagedList
@model IEnumerable<QLKS.WebApp.Models.Account>

@{
    ViewBag.Title = "Index";
}
@section pluginStyles
{
	<link href="~/Content/PagedList.css" rel="stylesheet"/>
	<link href="~/Content/AdmGrid.css" rel="stylesheet"/>

}

<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content p-sm">
           
            <!-- Phẩn hiển thị danh sách nhà cung cấp -->
            <table id="#tblaccount" class="table table-responsive table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Profile.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @(Html.Bootstrap()
							    .ActionLink("", "Edit")
							    .RouteValues(new {id = item.Profile.AccountID})
							    .Title("Cập nhật")
							    .AppendIcon("fa fa-pencil fa-2x"))
                            @(Html.Bootstrap()
							    .ActionLink("", "GetBySupplierId", "Product")
							    .Class("ajax-link")
							    .RouteValues(new {id = item.Profile.AccountID})
							    .AppendIcon("fa fa-gift fa-2x")
							    .Title("Xem danh sách sản phẩm"))
                        </td>
                    </tr>
                }

            </table>
            
            
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblaccount tr ').on("click",
                "[data-toggle-stale = true]",
                function (e) {
                    var $this = $(this);
                    var url = $this.attr('data-url');
                    var args = $this.attr('data-args');
                    $.post(url,
                        { "args": args },
                        function (data) {
                            if (data.Result) {
                                $this.attr('data-args', data.Message);
                                $this.toggleClass('true');
                            } else {
                                alert(data.Message);
                            }
                        });
                });
            $('#pageSelect').change(function () {
                $('#pageSize').val($(this).val());
                $('#searchSupplier').submit();
            })
        })
    </script>
}