@using PagedList
@model IEnumerable<QLKS.WebApp.Models.Account>

@{
    ViewBag.Title = "Index";
}
@section pluginStyles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/AdmGrid.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" />

}

<div class="row">
    <div class="ibox-title">
        <h5>Danh sách nhà cung cấp</h5>
        <div class="ibox-tools">
            @(Html.Bootstrap()
				.ActionLink("Thêm tài khoản mới", "Create")
				.Class("btn btn-primary btn-xs")
				.PrependIcon("fa fa-plus"))
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content p-sm">

            <!-- Phẩn hiển thị danh sách nhà cung cấp -->
            <table id="pagedtable" class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="15%">
                            @Html.DisplayNameFor(model => model.Profile.FullName)
                        </th>
                        <th class="hidden-sm hidden-xs" width="20%">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="hidden-sm hidden-xs">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Profile.Picture)
                        </th>
                        <th class="hidden-sm hidden-xs" style="width: 10%"></th>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr style="height: 67px" class="align-center">

                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.FullName)
                            </td>
                            <td class="hidden-sm hidden-xs">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="hidden-sm hidden-xs">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="text-center">
                                @if (!string.IsNullOrEmpty(item.Profile.Picture))
                                {
                                    <img src="@Url.Content(item.Profile.Picture)" alt="@item.Profile.Picture" class="img-circle" style="height: 50px; width: 50px" />
                                }
                            </td>
                            <td>
                                @(Html.Bootstrap()
					            .ActionLink("", "Edit")
					            .RouteValues(new {id = item.Profile.AccountID})
					            .Title("Cập nhật")
					            .AppendIcon("fa fa-pencil fa-2x"))
                                @(Html.Bootstrap()
					            .ActionLink("", "Delete")
					            .Class("dz-remove")
					            .RouteValues(new {id = item.Id})
					            .AppendIcon("fa-solid fa-trash-can fa-2x")
					            .Title("Xóa"))
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var pageTable = $('#pagedtable').dataTable({
                responsive: true,
                "order": [[1, 'asc']],
                "language": {
                    "paginate": {
                        "first": "Đầu",
                        "previous": "Trước",
                        "next": "Tiếp",
                        "last": "Cuối"
                    },
                    "info": "Hiển thị _START_ đến _END_ trong số _TOTAL_ mẫu tin",
                    "search": "Tìm theo từ khóa: ",
                    "lengthMenu": "Hiển thi _MENU_ mẫu tin"
                },
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/Scripts/plugins/dataTables/copy_csv_xls_pdf.swf"
                }
            });
            $('#pagedtable tbody').on('click',
                'a.dz-remove',
                function (e) {
                    alert('Heloo');
                    e.preventDefault();
                    var that = $(this);
                    var confirmResult = confirm("Bạn có thực sự muốn xóa tài khoản này?");
                    if (confirmResult) {
                        $.ajax({
                            type: "POST",
                            url: that.attr('href'),
                            success: function (response) {
                                if (response) {
                                    var row = that.closest('tr').get(0);
                                    pageTable.fnDeleteRow(row);
                                } else {
                                    alert('Không thể xóa tài khoản này.');
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.responseText);
                            }
                        });
                    }
                });

        });
    </script>
}